<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_WorkFlowService" closeTimeout="10:50:00" openTimeout="10:50:00" receiveTimeout="10:50:00" sendTimeout="10:50:00"  />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/WorkFlowWCFService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WorkFlowService"
                contract="WFService.WorkFlowService" name="BasicHttpBinding_WorkFlowService" />
        </client>
    </system.serviceModel>
</configuration>