<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
  <connectionStrings>
    <add name="TestConnectionString" connectionString="Server=localhost\sqlexpress;Database=BPELWorkflow;Integrated Security=SSPI" />
  </connectionStrings>
    <system.serviceModel>
    
        <bindings>
            <basicHttpBinding >
                <binding name="BasicHttpBinding_BPELWorkFlowService"  openTimeout="01:05:00" sendTimeout="01:05:00"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9090/WorkFlowWCFService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_BPELWorkFlowService" 
                contract="WFService.BPELWorkFlowService" name="BasicHttpBinding_BPELWorkFlowService" />
        </client>
    </system.serviceModel>

  <hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
    <session-factory name="NHibernate.Test">
      <property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
      <property name="connection.connection_string">
        Data Source=mydatabase.sqlite
      </property>
      <property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
    </session-factory>
  </hibernate-configuration>

 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
