<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="workflowHandlerSettings" type="WorkFlowHandle.Model.WorkflowHandlerSettingsConfigSection, WorkFlowHandle"/>
   <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
  </configSections>
 
  <system.serviceModel>
    <bindings/>
    <client/>
    <services>
      <service behaviorConfiguration="WorkFlowServiceMEXBehavior" name="WorkFlowWCFService.BPELWorkFlowService">
        <endpoint address="" binding="basicHttpBinding" contract="WorkFlowWCFService.BPELWorkFlowService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/WorkFlowWCFService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <!-- A behavior definition for MEX -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="WorkFlowServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <workflowHandlerSettings>

    <implementationSettings>

    </implementationSettings>
    <BPELWorkflows>
      <add name="TestStateWorkFlow" version="1.0" fileName="TestStateWorkFlow.bpel"/>
    </BPELWorkflows>
  </workflowHandlerSettings>
  <hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
	<session-factory name="NHibernate.Test">
		<property name="connection.driver_class">NHibernate.Driver.SQLite20Driver</property>
		<property name="connection.connection_string">
			Data Source=mydatabase.sqlite
		</property>
		<property name="dialect">NHibernate.Dialect.SQLiteDialect</property>
	</session-factory>
</hibernate-configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
