<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="workflowHandlerSettings" type="WorkFlowHandle.Model.WorkflowHandlerSettingsConfigSection, WorkFlowHandle"/>
  </configSections>
  
  <system.serviceModel>
    <bindings/>
    <client/>
    <services>
      <service name="WorkFlowWCFService.WorkFlowService" behaviorConfiguration="WorkFlowServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WorkFlowWCFService.WorkFlowService"/>
        <!-- Enable the MEX endpoint -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <!-- Need to add this so MEX knows the address of our service -->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9090/WorkFlowWCFService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <!-- A behavior definition for MEX -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="WorkFlowServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

  <workflowHandlerSettings>
    
    <implementationSettings>

    </implementationSettings>
    <BPELWorkflows>
      <add name="TestStateWorkFlow" version="1.0" fileName="TestStateWorkFlow.bpel" />

    </BPELWorkflows>
 

  </workflowHandlerSettings>
</configuration>
