<?xml version="1.0"?>
<configuration>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <services>
      <!-- 服务名称跟Cbcye.Service项目中的一致,使用命名空间.类名 -->
      <service name="WorkFlowWCFService.WorkFlowService">
        <!--
        address - 指定这个Endpoint对外的URI,这个URI可以是个绝对地址，也可以是个相对于baseAddress的
                  相对地址。如果此属性为空，则这个Endpoint的地址就是baseAddress
        binding - 指定这个Endpoint使用的binding，这个banding可以是系统预定义的9个binding之一，
                  比如是basicHttpBinding，也可以是自定义的customBinding。binding决定了通讯的类型、
                  安全、如何编码、是否基于session、是否基于事务等等。
        contract- 指定这个Endpoint对应的Contract的全限定名(名称空间.类型名)，这个Contract应该是被
                  service元素的name指定的那个service实现。
          name  - Endpoint的名称，可选属性，每个Contract都可以有多个Endpoint，但是每个Contract对应的
                  多个Endpoint名必须是唯一的
        -->
        <endpoint address="" binding="basicHttpBinding" contract="WorkFlowWCFService.WorkFlowService" name=""></endpoint>
        <host>
          <baseAddresses>
            <!-- 在此可以定义每种传输协议的baseAddress，用于跟使用同样传输协议Endpoint定义的相对地
                 址组成完整的地址，但是每种传输协议只能定义一个baseAddress。HTTP的baseAddress同时是service
                 对外发布元数据的URL-->
            <add baseAddress="http://localhost:7788/WorkFlowWCFService>"></add>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
